* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Consolas, serif;
}

#afficheMenu {
    position: absolute;
    top: 3%;
    right: 5%;
    color: #318ce7;
    background-color: rgba(80, 80, 80, 0);
    border: none;
    backdrop-filter: blur(10px);
    z-index: 2;
}

#menu ul, #menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu ul {
    background-color: rgba(80, 80, 80, 0.4);
    backdrop-filter: blur(10px);
    align-items: center;
    text-align: center;
    justify-content: stretch;
}

#menu ul li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all ease .3s;
}

#menu ul li a:hover {
    color: gray;
}

#menu {
    display: none;
}

#menu.actif {
    display: block;
    width: 100%;
    position: absolute;
}

#menu ul li a img {
    width: 10%;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3em;
    text-align: center;
}

/* ---- particles.js container ---- */
#particles-js {
    height: 100vh;
    background-color: #232741;
    background-image: url("images/LogoBew.svg");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
}

#Equipe {
    display: flex;
    background: black;
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
}

#Equipe header {
    font-family: Kalam, cursive;
    margin: 0;
    font-size: 2em;
    color: white;
    text-align: center;
}

#Equipe article {
    display: flex;
    margin: 3%;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: navajowhite;
    min-width: 80vw;
}

#Equipe #article1 {
    margin: 0 3% 3% 3%;
}

#Equipe article p {
    font-family: Cookie, cursive;
    font-size: 1.3em;
    padding: 0;
    margin: 0;
}

#Equipe article img {
    width: 100%;
    margin-right: 3%;
    background-color: rgba(255, 255, 255, 0.4);
    color: navajowhite;
}

/*Background à changer quand on aura de vraies images*/


#presentationG {
    border: 2px solid black;
    margin: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#presentationG header {
    font-family: Kalam, cursive;
    font-size: 2em;
}

#presentationG p {
    font-family: Cookie, cursive;
    font-size: 1.7em;
    padding: 0 3%;
    margin-top: 0;
}

#copyright {
    text-align: center;
    background-color: rgba(80, 80, 80, 0.4);
    backdrop-filter: blur(10px);
}
#section1{
    padding-top: 52px;
    z-index: 1;
}

@media (min-width: 768px) {
    #afficheMenu {
        display: none;
    }

    #menu {
        display: block;
        margin: 0;
        z-index: 10;
        position: relative;
    }

    #menu ul {
        display: flex;
        justify-content: stretch;
        position: fixed;
        width: 100%;
    }

    #menu ul li {
        flex-grow: 1;
    }

    #Equipe {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }

    #Equipe header {
        font-family: Kalam, cursive;
        margin: 0;
        font-size: 2em;
        text-align: center;
    }

    #Equipe article {
        display: flex;
        margin: 2%;
        min-width: 0;
        width: 40vw;
    }

    #Equipe #article1 {
        margin: 2% 2% 2% 2%;
    }

    #Equipe #article2 {
        margin: 2% 2% 2% 2%;
    }

    /*A modif quand il y aura les photos, avec background() et #article1 #article2 etc...*/

    #Equipe article img {

     }

    #Equipe header {
        margin: 2% 25% 0 25%;
        width: 50vw;
    }

    #Equipe article p {
        font-family: Cookie, cursive;
        font-size: 1.4em;
        padding: 0;
        margin: 0;
    }
}

/*Media query pour le 1024 pixel on verra si on en à besoin mais je ne penses pas*/

